<div class="loading none" #loading>
    <div class="loading-content">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <h2>Espere...</h2>
    </div>
</div>
<div class="selectOu">
    <div class="container">
        <div class="row">
            <p-tree 
                class="w-full md:w-30rem"
                [value]="ous"
                selectionMode="single"
                [(selection)]="selectedFile"
                (onNodeSelect)="nodeSelect($event)"
                (onNodeUnselect)="nodeUnselect($event)"
                *ngIf="ous.length > 0">
                <ng-template let-node pTemplate="default">
                    <span class="custom-tree-node">{{node.label}}</span>
                </ng-template>
            </p-tree>
            <div *ngIf="selectedFile">
                <h5>Selected Node</h5>
                <pre>{{selectedFile}}</pre>
              </div>
        </div>
    </div>
</div>