<div class="createUsers mb-4 animate__animated animate__fadeIn">
    <div class="container">
        <div class="row mt-3">
            <h3>Creación de Usuarios</h3>
        </div>
        <div class="form mt-4">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Clark" [(ngModel)]="data.nombre" #nombre (focus)="deleteBorder('nombre')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Kent" [(ngModel)]="data.apellidos" #apellidos (focus)="deleteBorder('apellidos')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="oficina" class="form-label">Oficina</label>
                        <input type="text" class="form-control" id="oficina" placeholder="Metropolis" [(ngModel)]="data.oficina" #oficina (focus)="deleteBorder('oficina')" autocomplete="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="puestoTrabajo" class="form-label">Puesto Trabajo</label>
                        <input type="text" class="form-control" id="puestoTrabajo" placeholder="Periodista" [(ngModel)]="data.puestoTrabajo" #puestoTrabajo (focus)="deleteBorder('puestoTrabajo')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="departamento" placeholder="Periodístico" [(ngModel)]="data.departamento" #departamento (focus)="deleteBorder('departamento')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="organizacion" class="form-label">Organización</label>
                        <input type="text" class="form-control" id="organizacion" placeholder="Daily Planet" [(ngModel)]="data.organizacion" #organizacion (focus)="deleteBorder('organizacion')" autocomplete="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="manager" class="form-label">Manager</label>
                        <input type="text" class="form-control" id="manager" placeholder="Perry.White@eu.hsi.local" [(ngModel)]="data.manager" #manager (focus)="deleteBorder('manager')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="copia" class="form-label">Copia de</label>
                        <input type="text" class="form-control" id="copia" placeholder="Lois.Lane@eu.hsi.local" [(ngModel)]="data.copia" #copia (focus)="deleteBorder('copia')" autocomplete="true">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="upn" class="form-label">Upn</label>
                        <select name="upn" id="upn" class="form-control" [(ngModel)]="data.upn" #upn (focus)="deleteBorder('upn')">
                            <option value="???">Seleccione Upn</option>
                            <option value="henryschein.es">henryschein.es</option>
                            <option value="henryschein.com">henryschein.com</option>
                            <option value="henryschein.pt">henryschein.pt</option>
                            <option value="dentalexpress.es">dentalexpress.es</option>
                            <option value="eu.hsi.local">eu.hsi.local</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" placeholder="Contraseña..." [(ngModel)]="data.password" #password (focus)="deleteBorder('password')">
                </div>
                <div class="col">
                    <br>
                    <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-secondary" (click)="openOus()">Unidad Organizativa</button>
                        <button type="button" [class]="storageService.getThemeCss('button')" (click)="validateData()">Crear Usuario</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <p class="text-danger" *ngIf="selectedOuViewInit">Ou Seleccionada: <span class="text-primary">{{ selectedOuViewInit.label }}</span></p>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ou -->
<div class="modal fade" id="modalOu" data-bs-backdrop="static" #modalOu>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Unidad Organizativa</h1>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <h3>Unidades Organizativas:</h3>
                <h5>Seleccione una Unidad Organizativa</h5>
                <p class="text-danger" style="font-size: 0.8rem;" *ngIf="selectedOu">Ou Seleccionada: <span class="text-primary">{{ selectedOu.label }}</span></p>
                <div class="content-ous">
                    <p-tree 
                    class="w-full md:w-30rem mt-2"
                    [value]="ous"
                    selectionMode="single"
                    [(selection)]="selectedOu"
                    (onNodeSelect)="nodeSelect($event)"
                    (onNodeUnselect)="nodeUnselect($event)"
                    *ngIf="ous.length > 0">
                    <ng-template let-node pTemplate="default">
                        <span class="custom-tree-node">{{node.label}}</span>
                    </ng-template>
                </p-tree>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="selectOu()">Seleccionar</button>
            </div>
        </div>
    </div>
</div>