<div class="loading none" #loading>
    <div class="loading-content">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <h2>Espere...</h2>
    </div>
</div>
<div class="createUsers animate__animated animate__fadeIn">
    <div class="container">
        <div class="row mt-4">
            <h2>Creación de Usuarios</h2>
        </div>
        <div class="row mt-2">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/Home']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/ManagementUsers']">Gestionar Usuarios</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Crear Usuarios</li>
                </ol>
            </nav>
        </div>
        <div class="form mt-2">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Clark" [(ngModel)]="data.nombre" #nombre (focus)="deleteBorder('nombre')">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Kent" [(ngModel)]="data.apellidos" #apellidos (focus)="deleteBorder('apellidos')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="oficina" class="form-label">Oficina</label>
                        <input type="text" class="form-control" id="oficina" placeholder="Metropolis" [(ngModel)]="data.oficina" #oficina (focus)="deleteBorder('oficina')">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="puestoTrabajo" class="form-label">Puesto Trabajo</label>
                        <input type="text" class="form-control" id="puestoTrabajo" placeholder="Periodista" [(ngModel)]="data.puestoTrabajo" #puestoTrabajo (focus)="deleteBorder('puestoTrabajo')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="departamento" placeholder="Periodístico" [(ngModel)]="data.departamento" #departamento (focus)="deleteBorder('departamento')">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="organizacion" class="form-label">Organización</label>
                        <input type="text" class="form-control" id="organizacion" placeholder="Daily Planet" [(ngModel)]="data.organizacion" #organizacion (focus)="deleteBorder('organizacion')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="manager" class="form-label">Manager</label>
                        <input type="text" class="form-control" id="manager" placeholder="Perry White" [(ngModel)]="data.manager" #manager (focus)="deleteBorder('manager')">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="copia" class="form-label">Copia de</label>
                        <input type="text" class="form-control" id="copia" placeholder="Lois Lane" [(ngModel)]="data.copia" #copia (focus)="deleteBorder('copia')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openOu()">Unidad Organizativa</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" (click)="crearUsuario()">Crear Usuario</button>
                </div>
            </div>
            <div class="row mt-3">
                <p class="text-primary">OU Seleccionada: {{ data.ou }}</p>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="loadingModal none" #loadingModal>
            <div class="loadingModal-content">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5>Cargando OU's...</h5>
            </div>
        </div>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Unidad Organizativa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <select class="form-select" aria-label="Default select example">
                <option value="???">Seleccione OU</option>
                <option [value]="ou.Name" *ngFor="let ou of ous">{{ ou.Name }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="ouSelected()">Seleccionar</button>
        </div>
      </div>
    </div>
  </div>