<div class="init animate__animated animate__fadeIn">
    <p-stepper [linear]="true">
        <p-stepperPanel header="Bienvenido/a">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground font-medium p-4">
                        <div class="row">
                            <img class="logo" src="assets/AD.png" alt="AD.png">
                        </div>
                        <div class="row">
                            <h3>Hola!</h3>
                        </div>
                        <div class="row">
                            <p>
                                Bienvenido/a al programa de gestión con Active Directory.
                                Este Programa gestiona usuarios y equipos de <strong>Active Directory</strong> ayudando así con el trabajo diario del departamento de soporte. <br>
                                Este programa es exclusivo para <strong>IT Support</strong>, es privado y solo tienen acceso a él <strong>los Administradores del Dominio</strong>. Este programa solo atiende peticiones de manera privada por consola de comandos y en ningún momento se guardan datos que puedan romper la ley de política de privacidad. <br>
                                <br>
                                <span class="text-primary">Finaliza los pasos siguientes para empezar a trabajar!</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-end">
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()"/>
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Avatar">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground font-medium p-4">
                        <div class="row">
                            <h5>Selecciona tu avatar!</h5>
                        </div>
                        <div class="row mt-3">
                            <div class="avatars">
                                <img *ngFor="let item of items" class="avatar" src="assets/avatars/{{ item }}" [alt]="item" (click)="selectAvatar(item)" [ngClass]="{'selected-avatar': avatarSelect === item}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit(); avatarSelect = null;" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Tema">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground font-medium p-4">
                        <div class="row">
                            <h4>Selecciona el Tema</h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card" style="width: 100%; margin: 0 auto;">
                                        <app-navbar-theme></app-navbar-theme>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked [(ngModel)]="themeSelected" value="Sweet Honey">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Sweet Honey
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card" style="width: 100%; margin: 0 auto;">
                                        <app-navbar-theme typeNav="bg-primary"></app-navbar-theme>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="themeSelected" value="Healthy Sky">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Healthy Sky
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="card" style="width: 100%; margin: 0 auto;">
                                        <app-navbar-theme typeNav="bg-danger"></app-navbar-theme>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="themeSelected" value="Tasty Licorice">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Tasty Licorice
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card" style="width: 100%; margin: 0 auto;">
                                        <app-navbar-theme typeNav="bg-secondary"></app-navbar-theme>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="themeSelected" value="Gray Storm">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Gray Storm
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit(); themeSelected = 'Sweet Honey';" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit();" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Resumen">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <div class="flex flex-column">
                    <div class="border-2 border-dashed surface-border border-round surface-ground font-medium p-4">
                        <div class="row">
                            <h4>Resumen:</h4>
                        </div>
                        <div class="row">
                            <div class="content">
                                <div class="card" style="width: 50%; margin: 0 auto;">
                                    <img [src]="avatarSelect ? 'assets/avatars/' + avatarSelect : 'assets/avatars/default.png'" class="card-img-top" alt="avatar.png" style="width: 5rem; margin: 10px auto;">
                                    <app-navbar-theme [typeNav]="getTypeNav()"></app-navbar-theme>
                                    <div class="card-body">
                                        <h5 class="card-title">Lo que has seleccionado</h5>
                                        <p class="card-text">Este será tu avatar y Tema a lo largo del camino! Pero tranquil&commat;, los podrás cambiar dentro de la Aplicación más adelante.</p>
                                        <button class="btn btn-primary" (click)="finished()">Finzalizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-start">
                    <p-button label="Atrás" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>