<div class="preload">
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <img class="logo_henry" src="assets/Henry-Schein.png" alt="Henry-Schein.png">
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <img class="logo_ad" src="assets/AD.png" alt="AD.png">
            </div>
        </div>
        <div class="title">
            <div class="col">
                <span style="display: inline-block; margin: 0 10px;">Cargando App</span>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
