<nav [class]="'navbar border-bottom border-body ' + typeNav">
    <div class="container-fluid"> 
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link">Home</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="text" placeholder="Buscar" disabled>
            <button class="btn btn-outline-light disabled" type="button">Buscar</button>
        </form>
    </div>
</nav>